.container {
    width: 720px;
    margin: 0 auto;
    background-color: #f8f8fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imageContainer img {
    height: 72px;
    width: 72px;
}

.title {
    font-size: 1.1rem;
    color: rgba(25, 27, 31, 0.8);
    margin-bottom: 10px;
}

.key {
    font-size: 0.95rem;
    color: rgba(25, 27, 31, 0.9);
}

.desc {
    color: #7a7a7a;
    font-size: 0.95rem;
}

.desc a {
    color: #7a7a7a;
    text-decoration: underline;
}